@charset "UTF-8";
html,body{height:100%;}
body{position: relative;}

.mr1{margin-right:10px;}
.mb20{margin-bottom:20px;}
.mr20{margin-right:20px;}
.ml20{margin-left:20px;}
.mr10{margin-right:10px;}
.mr50{margin-right:50px;}
.ml150{margin-left:150px;}
.ml220{margin-left:220px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.ml70{margin-left:70px;}

.p30{padding:30px;}
.pt20{padding-top:20px;}
.pl20{padding-left:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pl30{padding-left:30px;}
.ptb20{padding:20px 0;}
.pb20{padding-bottom:20px;}
.pb128{padding-bottom:128px;}

.hide{display:none;}

.bg_white{background:#fff;}

.box{width:1200px;margin-left:auto;margin-right: auto;}

.header{position:relative;height:60px;z-index:10;background:#fff;border-bottom: 1px solid #ededed;box-shadow:0 0 10px rgba(0,0,0,0.3);}
.header .title{line-height:60px;color:#333;font-size:16px;font-weight:bold;}
.header .select{position: relative;}
.header .options{position: absolute;top:60px;left:0;z-index:10;display:none;background: #fff;border: 1px solid #ddd;border-bottom: none;}
.header .options li{width: 143px;font-size: 14px;color: #666;line-height: 40px;text-align: center;border-bottom: 1px solid #ddd}
.header .select p{height:100%;line-height: 60px;padding-right:23px;padding-left:10px;margin-right:18px;color:#f53964;font-size:14px;background:url("../images/down.png") no-repeat 125px center;cursor: pointer;}
.header .select p.active{color:#fff;background:url("../images/down1.png") no-repeat 125px center;background-color:#ffa200;}
.header .nav li{height:40px;padding-top:20px;}
.header .nav a{height:15px;line-height:15px;padding:0 25px;color:#333;font-size:14px;}
.header .nav a.border_right{border-right:1px solid #333;}
.header .nav .active{background:#ffa200;}
.header .nav .active a{color:#fff;}
.header .nav .active1 a{color:#fb8a24;}


.banner{position:relative;width:100%;min-width:1200px;overflow: hidden;}
.banner ul{position: relative;}
.banner li{width:33.33%;}
.banner a{display:block;width:100%;min-width:1200px;height:420px;}
.banner_index{position: absolute;bottom:50px;left:50%;}
.banner_index span{display:inline-block;width:15px;height:15px;margin-left:10px;background: #fff;border-radius: 50%;opacity:0.5;filter:alpha(opacity=50);cursor: pointer;}
.banner_index .active{opacity:1;filter:alpha(opacity=100);}

.wrap{overflow: hidden;}
.search input[type="text"]{width:390px;height:34px;padding-left:15px;color:#666;font-size:14px;border:1px solid #ffa200;}
.search input[type="button"]{width:90px;height:36px;background:#ffa200;color:#fff;font-size:16px;border:none;cursor:pointer;}

.content_title h4{color:#666;font-size:16px;padding-left:20px;padding-top:30px;}

.game_items{width:862px;margin-right:10px;background:#fff;}
.game_items .title{position:relative;padding:20px 20px 0;color:#333333;font-size:16px;}
.game_items .title a{color:#fc2b2c;font-size:16px;text-decoration: underline;}
.game_items .title input{position:absolute;right:20px;top:20px;height:30px;padding:0 10px;font-size: 14px;color:#fff;border: none;background: #ffa200;cursor:pointer;}
.game_item{display:block;padding:20px;border-bottom:1px dashed #dddddd;}
.game_item.gray{background: #fafafa;border:1px solid #ededed;}
.game_item img{width:220px;height:175px;margin-right: 32px;}
.game_item .exp{width:550px;height:175px;overflow: hidden;}
.game_item .exp p,.game_item .exp_detail p{line-height:19px;margin-bottom:7px;color:#666;font-size:14px;}
.game_item .exp a{color:#4472f4;text-decoration:underline;}
.game_item .exp_detail a{display:block;width:182px;height:34px;line-height:34px;margin:30px auto 10px;text-align:center;color:#fff;font-size:14px;background:#fb8a24;}
.game_item input{border:none;color:#fb8a24;background:url("../images/search.png") no-repeat left center;cursor:pointer;}


.add_list{width:288px;padding:0 20px;background:#fff;margin-bottom:-10000px; padding-bottom:10000px;}
.add_list .title{line-height:55px;color:#666;font-size:16px;}
.add_list p{width:205px;line-height:25px;padding-top:7px;color:#666;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.add_list p span{color:#5cbcf9;}
.add_list .my_add{color:#fb8a24;font-size:16px;text-decoration:underline;}

.position{line-height:76px;font-size:16px;color:#666;}

.game_exhibition{background:#fff;}
.mian_exhibition{margin-bottom:20px;}
.child_exhibition{overflow:hidden;}
.child_exhibition ul{width:1230px;}
.game_exhibition li{margin-right:11px;cursor:pointer;}

.game_introduce{position:relative;padding:35px 20px 0;background:#fff;}
.game_introduce>p{line-height:24px;padding-bottom:15px;font-size:14px;color:#666;}
.game_introduce>p span{color:#333;}
.game_introduce>p a{color:#4472f4;text-decoration:underline;}
.add_agency{position: absolute;top:164px;right:185px;}
.add_agency h4{color:#666;font-size:20px;margin-bottom:25px;}
.add_agency button{display:block;width:136px;height:34px;margin:0 auto;border:1px solid #fb983e;color:#fb983e;font-size: 14px;background:#fff;}

.game_detail{background:#fff;}
.game_detail .title{padding-left:20px;line-height:56px;font-size:18px;font-weight:bold;} 
.game_detail p{padding-left:20px;line-height:24px;color:#666;font-size:14px;}
.game_detail img{display:block;}

.sidebar{border:1px solid #dddddd;background:#fff;}
.sidebar li{width:100px;line-height:50px;padding-left:40px;color:#333;font-size:14px;cursor:pointer;}
.sidebar li.active{border-left:4px solid #fb8a24;background:#f5f5f5;}

.side_content{width:1007px;padding:30px 0 118px 35px;border:1px solid #ddd;background:#fff;}
.side_content>p{padding-bottom:20px;}
.side_content p{line-height:24px;color:#666;font-size:14px;}
.side_content .red{color:#fc2b2c;}
.side_content p a{color:blue;}
.side_content img{cursor:pointer;}
.issue_link span{line-height:40px;margin-right:36px;color:#6bc1f9;font-size:14px;}
.issue_link a{display:block;width:120px;height:40px;line-height:40px;font-size:14px;color:#fff;text-align:center;background:#fb8a24;}
.side_content label{display:block;width:60px;height:40px;line-height:40px;text-align:right;font-size:14px;color:#333;margin-right:20px;}
.side_content input[type="text"]{width:350px;height:38px;padding-left:8px;border:1px solid #dddddd;}
.side_content input[type="submit"]{width:350px;height:38px;background:#fb8a24;border:none;color:#fff;font-size:14px;cursor:pointer;}
.side_content button{display:block;height:40px;border:none;padding:0 20px;background:#fb8a24;color:#fff;font-size:16px;cursor:pointer;}
.previewImage{width:150px;height:150px;}
.previewImage img{width:100%;}

.pop{z-index:11;}
.pop1{height:660px;}
.pop,.pop_bg{position: absolute;top:0;left:0;right:0;bottom:0;}
.pop_bg{background:#000;opacity:0.4;filter:alpha(opacity=40);}
.pop_content{position: absolute;top:160px;left:50%;width:484px;padding:50px;margin-left:-292px;background:#fff;}
.pop_content1{top:10px;padding:20px 50px;}
.alter_phone{width:420px;}
.alter_phone label{line-height:40px;color:#666666;font-size:14px;margin-right:15px;}
.alter_phone input[type="text"]{height:38px;padding-left:10px;border:1px solid #ddd;}
.alter_phone .phone{width:350px;}
.alter_phone .code{width:198px;margin-right:34px;}
.alter_phone button{width:118px;height:40px;color:#fff;font-size:14px;background:#fb8a24;cursor:pointer;border:1px solid #fb8a24;}
.alter_phone button.active{color:#ccc;border:1px solid #ddd;background:#f5f5f5;}
.alter_phone .hint{display:none;font-size:14px;color:#ccc;}
.pop_content input[type="submit"]{display:block;width:120px;height:40px;color:#fff;font-size:14px;border:none;background:#fb8a24;margin:0 auto;cursor: pointer;border:none;}
.alter_else .title,.alter_else label{color:#333;font-size:14px;margin-bottom:15px;}
.alter_else select{width:155px;height:26px;}
.alter_else input{width:145px;height:24px;}
.alter_else input,.alter_else select{padding-left:10px;margin-bottom:20px;color:#cccccc;border:1px solid #dedede;}

.login_section{height:475px;min-width:1200px;background:url("../images/login_bg.png") no-repeat center;}
.game_login{background:url("../images/login_bg1.png") no-repeat center;}
.login_box{position:relative;}
.login_main{position:absolute;top:65px;right:75px;width:345px;height:345px;background:#fff;}
.login_main h3{line-height:55px;color:#fb8a24;font-size:16px;border:1px solid #f4f4f4;}
.login_main form{padding:30px 25px;}
.login_main .account,.login_main .password{width:255px;padding-left:38px;border:1px solid #bdbdbd;}
.login_main .account{background:url("../images/account.png") no-repeat left center;}
.login_main .password{background:url("../images/password.png") no-repeat left center;}
.login_main input[type="text"]{padding-left:7px;width:248px;height:38px;color:;font-size:#f3f3f3;background:#faffbd;border:none;}
.login_main input[type="checkbox"]{width:14px;height:14px;margin-right:10px;}
.login_main .check span,.login_main .forget{line-height:12px;font-size:12px;color:#666;}
.login_main input[type="submit"]{width:295px;height:40px;background:#fb8a24;color:#fff;font-size:14px;border:none;cursor:pointer;}
.register_link{color:#fb8a24;font-size:12px;}

.register_wrap{background:#fff;}
.register_table{width:435px;height:362px;padding:56px 0;margin:0 auto;}
.register_table label{width:60px;line-height:40px;margin-right:15px;font-size:14px;text-align:right;color:#333;}
.register_table input[type="text"]{height:38px;width:348px;padding-left:10px;border:1px solid #dddddd;}
.register_table .verify_code{width:158px !important;}
.register_table .get_code{width:170px;height:38px;color:#666;font-size:14px;text-align:center;border:1px solid #ddd;background:#f4f4f4;cursor: pointer;}
.register_table span{line-height:40px;color:#666;font-size:14px;}
.register_table input[type="submit"]{width:360px;height:40px;color:#fff;font-size:14px;border:none;background:#fb8a24;}


.exp_item h2{color:#666;font-size:24px;font-weight:bold;}
.exp_item h3{color:#666;font-size:18px;font-weight:bold;}
.exp_item h4{color:#e47510;font-size:14px;font-weight:bold;background:url("../images/item.png") no-repeat left center;}
.exp_item p{line-height:24px;font-size:12px;color:#666;}

.forget_password{padding:110px 0;background:#fff;}
.forget_password .alter_phone{margin:0 auto;}
.forget_password input[type="submit"]{display:block;width:365px;height:40px;color:#fff;font-size:14px;border:none;background:#fb8a24;margin-left:56px;cursor: pointer;border:none;}

.q_a_content{width:1040px;padding-bottom:27px;border:1px solid #ddd;background:#fff;}
.q_a_item{ padding:20px 15px;border-bottom:1px dashed #ddd;}
.q_a_item .a{padding-left:30px;background:url("../images/A.png") no-repeat left center;}
.q_a_item .q{margin-bottom:12px;padding-left:30px;background:url("../images/Q.png") no-repeat left center;}
.q_a_item p{line-height:18px;color:#666;font-size:12px;}


.search_section{padding:50px 0 95px 0;}
.search_content{height:46px;border:1px solid #fb8a24;margin-left:25px;margin-right: 40px;}
.select_style{position:relative;width:98px;z-index:10;}
.select_option{display:none;cursor:pointer;}
.select_style p{height:46px;line-height:46px;text-align:center;color:#999;font-size:14px;cursor:pointer;}
.search_content img{margin-left:10px;}
.select_style{border-left:1px solid #ddd;border-top:1px solid #ddd;border-right:1px solid #ddd;}
.select_style li{width:100%;line-height:30px;color:#999;font-size:14px;text-align:center;border-bottom:1px solid #ddd;background:#fff;}
.search_content input[type="text"]{width:659px;height:46px;padding-left:8px;border-left:1px solid #b9b9b9;border:none;}
.search_section input[type="submit"]{width:146px;height:48px;color:#fff;font-size:14px;background:#fb8a24;border:none;}

.select_city{width:1200px;margin:0 auto;background:#fafafa;border:1px solid #ddd;}
.select_city .wrap{padding:10px 25px 0 50px;}
.select_city .wrap1{padding:10px 25px 0 92px;}
.select_search{width:1125px;margin:0 auto 30px;padding:18px 25px 0 50px;background:#fafafa;border:1px solid #ddd;}
.select_search dl{padding-bottom:25px;}
.select_search dd{margin-right:10px;}
.select_search dt,.select_city p{line-height:30px;float:left;color:#333;font-size:14px;font-weight:500;}
.select_search dd{padding:0 10px;}
.select_city dd,.select_city li{padding:0 15px;}
.select_search dd,.select_city dd,.select_city li{line-height:30px;float:left;color:#666;font-size:14px;cursor:pointer;}
.select_search dd.last{margin-left:135px;}
.select_search dd.active{color:#fff;padding:0 16px 0 10px;background-color:#fb8a24;background-image:url("../images/cancel.png");background-repeat: no-repeat;background-position: right center;}
.select_city ul{display:none;width:1016px;padding:10px 92px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff;margin-top:-1px;}
.select_city li.active{color:#fff;background: #fb8a24;}
.select_city dd.active{position:relative;z-index:10;margin-bottom:-1px;border:1px solid #ddd;border-bottom:none;background:#fff;}
.select_city strong{line-height:40px;padding-left:107px;color: #f53964;font-size:14px;font-weight:normal;}

.file_wrap{position:relative;width:72px;height:25px;line-height:25px;margin:0 auto;background:#f5f5f5;color:#999;font-size:14px;text-align:center;border:1px solid #ddd;}
.file_wrap input[type="file"]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);}

.page_wrap{padding:50px 0;}
.page_section{float: left;position: relative;left: 50%;}
.page{position: relative;left: -50%;}

.issue_title{font-size:14px;color:#333;font-weight:bold;margin-left:-10px;}
.issue_form{}
.issue_form label{line-height:36px;font-size:14px;color:#666;}
.issue_form input[type="text"],.issue_form select{width:400px;height:34px;border:1px solid #f1f1f1;}
.issue_form input[type="text"]{width:390px;padding-left:10px;}
.issue_form input[type="radio"]{margin-top:12px;}
.issue_form span{line-height:36px;font-size:14px;color:#666;margin:0 10px;}
.issue_form textarea{width:380px;height:160px;padding:10px;border:1px solid #ddd;font-size:14px;color:#666;}
.update_item{position:relative;}
.update_item img{width:198px;height:163px;border:1px solid #ddd;}
.update_item input[type="file"]{position: absolute;top:0;left:0;width:198px;height:163px;opacity: 0;filter:alpha(opacity=0);}
.update_item p{line-height:40px;font-size:14px;color:#ddd;}
.issue_form input[type="submit"]{width:120px;height:40px;color:#fff;font-size:14px;background:#fb8a24;border:none;margin-left:330px;cursor:pointer;}
#editor-trigger{height:150px;}

.footer_bg{background:#333333;}
.footer{padding:14px 0;}
.footer img{display:block;margin:0 auto;}
.footer_nav{width:133px;margin:0 auto;padding:20px 0;}
.footer a,.footer span{font-size:12px;color:#999;}
.footer span{padding:0 12px;}
.footer p{width:360px;line-height:22px;margin:0 auto 0;color:#727171;font-size:12px;text-align:center;}